<h1>新規顧客からの受注</h1>

<div id="validation-error-messages">
  <%= render 'layouts/validation_error_message', instance: @new_customer %>
</div>

<%= form_with model: @new_customer, url: operators_create_first_time_order_path do |c| %>

  <span>名前</span><br>
  <%= c.text_field :name %><br>

  <span>電話番号</span><br>
  <%= c.text_field :telephone_number %><br>

  <span>メールアドレス</span><br>
  <%= c.email_field :email %><br>

  <%= c.fields_for :orders do |o| %>

  <span>受注店舗</span><br>
  <select id="customer_orders_attributes_0_store_id" name="customer[orders_attributes][0][store_id]" data-json="<%= Store.all.to_json %>">
    <option value="">---選択してください---</option>
    <%= Store.all.each do |s| %>
    <option value="<%= s.id %>"><%= s.name %></option>
    <% end %>
  </select><br>

  <span>指名方法</span><br>
  <%= o.select :designate_method, Order.designate_methods_i18n.map {|key, value| [value, key]}, prompt: "---選択してください---" %><br>

  <div id="new-first-time-course-form-part">
    <span>コース</span><br>
    <%= o.select :course, Order.courses_i18n.map {|key, value| [value, key]}, prompt: "---選択してください---" %><br>
  </div>

  <span>開始日時</span><br>
  <%= o.datetime_field :started_at %><br>

  <span>時間</span><br>
  <%= o.number_field :duration_minutes %>分<br>

  <span>場所</span><br>
　<%= o.radio_button :place_kind, :home %><span>自宅</span>
  <%= o.radio_button :place_kind, :hotel %><span>ホテル</span><br>

  <div id="new-first-time-home-address-form-part">
    <span>自宅住所</span><br>
    <%= o.text_field :home_address %>
  </div>

  <div id="new-first-time-hotel-id-form-part">
    <span>ホテル選択</span><br>
    <%= o.collection_select :hotel_id, Hotel.all, :id, :name, prompt: "---選択してください---" %><br>
  </div>

  <span>割引</span><br>
  <%= o.text_field :discount %><br>

  <span>オプション</span><br>
  <%= o.text_field :option %><br>

  <span>支払方法</span><br>
  <%= o.select :payment_method, Order.payment_methods_i18n.map {|key, value| [value, key]}, prompt: "---選択してください---" %><br>
  <% end %>
  <%= c.submit '完了' %>
<% end %>

<div style="margin: 500px"></div>
<%= javascript_pack_tag 'operators-orders-new-first-time' %>
